@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 50px 14px 10px;
    font-family: "Roboto", sans-serif;
    position: fixed;
    top: 0px;
    z-index: 2; 
    animation: head 1s linear 1;
}
@keyframes head{
     from {
        transform: translateY(-100px);
    }
}
header .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
header .search{
    display: flex;
    justify-content: center;
    width: 800px;
}
header .search input{
    height: 45px;
    width:600px;
    padding-left: 10px;
    border:1px solid gray;
    border-bottom-left-radius: 10px;
}
header .search button{
    width: 44px;
    height: 45px;
    background-color: rgb(58, 58, 223);
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 3px;
}
header .logo img{
    width: 50px;
    height: 50px;
     animation: nav 1s linear 1;
}
header .logo h2{
     color: rgb(225, 28, 130);
     letter-spacing: 1px;
     animation: nav 1.3s linear 1;
}
@keyframes nav {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
}
nav ul{
    display: flex; 
    gap: 90px;
    list-style-type: none;
    font-size: 18px;
}
header a{
    text-decoration: none;
    color: white;
}
header nav a:hover{
    transition: 0.5s;
    color: rgb(255, 0, 221);
}
header .login{
    padding: 9px 23px;
    background-color: rgb(225, 28, 130);
    border-radius: 15px;
    color: white;
}
header .login:hover{
    color: white;
    background-color: rgb(171, 15, 116);
}

.background{
    background: url(Collection1/mail-screen.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}
.container{
    width: 48%;
    height: 45%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}
.mail img{
    height: 70px;
    width: 60px;
}
.mail{
    font-size: 60px;
    color: green;
    padding: 30px;
    animation-name: mail;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes mail{
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.btn{
    margin-top: 30px;
    padding: 10px 20px;
     font-size: 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    background-color: blue;
    color: white;
    border:none;
    cursor: pointer;
    animation: btn 3s 1;
}
@keyframes btn{
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.btn:hover{
    transition: 0.8s;
    transform: scale(1.1);
}
.container h2{
    padding-bottom: 20px;
    animation-name: mail;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
p{
    font-size: 20px;
    font-weight: 300;
    animation-name: mail;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@media screen and (max-width:575px) {
    .container{
        height: 50%;
    }
       header {
        padding:20px 0px;
     }
     nav ul{
        gap: 10px;
        font-size: 14px;
    }
    header .search input{
        width: 100px;
        height: 40px;
    }
    header .search button{
         width: 30px;
        height: 40px;
    }
    header .search{
        width: 150px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
      header {
        padding:20px 2px;
     }
     nav ul{
        gap: 20px;
        font-size: 15px;
    }
    header .search{
        width: 200px;
    }
    header .search input{
        width: 150px;
        height: 40px;
    }
    header .search button{
         width: 30px;
        height: 40px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
       header {
        gap: 20px;
    }
    nav ul{
        gap: 40px;
        font-size: 17px;
    }
    header .search{
        width: 300px;
    }
    header .search input{
        width: 220px;
        height: 40px;
    }
    header .search button{
         width: 30px;
        height: 40px;
    }
}
 /* }
.banner{ 
    width: 100%;
    height: 160vh;
    background-image: url("Collection1/7banner.jpg");
    filter: brightness(20%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    padding-bottom: 110px;
}
.mail-img{
    width: 600px;
    height: 500px;
    margin: auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
    
    
}
.mail-img img{
    width: 130px;
}
.mail-img h1{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    margin-bottom: 50PX;
}
.mail-img .para1{
    color: white;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 40px;
}
.mail-img span{
    color: white;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}
.mail-img button{
    margin-top: 50px;
    padding: 15px 50px;
     font-size: 25px;
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    background-color: blue;
    color: white;
    border:none;
    cursor: pointer;

}
br{
    margin: 19px;
}

footer {
    width: 100%;
    height: 500px;
    padding-top: 300px;

}

.f1 {
    height: 70px;
    width: 900;
    border: 2px solid rgb(5, 63, 5);
    display: flex;
    padding: 6px;
    align-items: center;
    color: white;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    

}

.f1 img {
    width: 50px;
    height: 50px;
}

.f1 p {
    margin-left: 309px;
    font-size: 17px;
}

.f1 input {
    height: 40px;
    background-color: rgb(12, 57, 12);
    border: none;
    border-radius: 6px;
    margin-left: 10px;
}

.f1 input::placeholder {
    color: white;
}

.f1 button {
    border: none;
    padding: 10px;
    background-color: rgb(5, 201, 5);
    color: wheat;
    margin-left: 10px;
    border-radius: 3px;
}

footer h4 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
}

.f2 {
    width: 200px;
    color: white;

}

.f2 p {
    color: white;
    text-align: justify;
    padding: 2px;
    margin-top: 10px;
    line-height: 20px;
}

.box1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    color: white;
     /* gap: 80px;  */ 
     /*  
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid green;
    border-right: 1px solid green;

}

.f3 a {
    display: block;
    text-decoration: none;
    color: white;
}

.f3 h2 {
    margin-bottom: 10px;

}

.f4 h2 {
    margin: 0px 10px 20px;
}

.f4 i {
    color: green;
}

.f4 p {
    font-size: 12px;
    padding: 10px;
}

.f4 button {
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.last {
    color: white;
    text-align: center;
    margin-top: 40px;
} */
