* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url("Collection1/5banner.jpg");
    /* background-position: top right;  */
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 14px 10px;
    font-family: "Roboto", sans-serif;
    position: fixed;
    top: 0px;
    z-index: 2;
    animation: head 1s linear 1;
}

header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .search {
    display: flex;
    justify-content: center;
    width: 800px;
}

header .search input {
    height: 45px;
    width: 600px;
    padding-left: 10px;
    border: 1px solid gray;
    border-bottom-left-radius: 10px;
}

header .search button {
    width: 44px;
    height: 45px;
    background-color: rgb(58, 58, 223);
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 3px;
}

header .logo img {
    width: 50px;
    height: 50px;
    animation: nav 1s linear 1;
}

header .logo h2 {
    color: rgb(225, 28, 130);
    letter-spacing: 1px;
    animation: nav 1.3s linear 1;
}

nav ul {
    display: flex;
    gap: 90px;
    list-style-type: none;
    font-size: 18px;
}

header a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    transition: 0.5s;
    color: rgb(255, 0, 221);
}

header .login {
    padding: 9px 23px;
    background-color: rgb(225, 28, 130);
    border-radius: 15px;
    color: white;
}

header .login:hover {
    color: white;
    background-color: rgb(171, 15, 116);
}

.container {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(20px);
    padding-top: 80px;
}

.logo {
    display: flex;
    margin-bottom: 20px;
}

.logo img {
    width: 40px;
    height: 40px;
    animation: nav 1s linear 1;
    cursor: pointer;
}

.logo h1 {
    color: rgb(222, 18, 100);
    font-size: 1.5rem;
    margin-top: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: nav 1.3s linear 1;
    cursor: pointer;
}

.main {
    width: 500px;
    height: 630px;
    margin: auto;
    backdrop-filter: blur(20px);
    box-shadow:5px 5px 50px rgb(216, 146, 220);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

@keyframes text {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.main .para {
    animation: text 1s linear 1;
}

i {
    animation: para 1s linear 1;
}

a {
    text-decoration: none;
}

.main h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    text-shadow: 0px 0px 20px pink;
    /* background: url("Collection1/2banner.gif");
    color: transparent;
    background-clip: text;
    background-position: center;
    cursor: pointer; */
    animation: text 1s linear 1;
}

.text {
    width: 80%;
    height: 45px;
    margin-top: 40px;
    margin-left: 20px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid white;
    padding-left: 10px;
    animation: para 1s linear 1;
}
@keyframes para {
    from {
        transform: translatex(-100px);
        opacity: 0;
    }

    to {
        transform: translatex(0px);
        opacity: 1;
    }
}
.text:hover {
    box-shadow: 5px 0px 70px pink;
}

.text:focus {
    outline: 2px solid rgb(41, 87, 204);
}

.mail {
    width: 80%;
    height: 45px;
    margin-top: 40px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid white;
    margin-left: 20px;
    padding-left: 10px;
    animation: para 1s linear 1;
}

.mail:hover {
    box-shadow: 5px 0px 70px black;
}

.mail:focus {
    outline: 2px solid rgb(41, 87, 204);
}

.password {
    width: 80%;
    height: 45px;
    margin-top: 40px;
    border: 2px solid white;
    margin-left: 10px;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: para 1s linear 1;
}

.password:hover {
    box-shadow: 5px 0px 70px black;
}

.password:focus {
    outline: 2px solid rgb(41, 87, 204);
}

.main .login {
    margin-top: 20px;
    width: 60%;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: blue;
     box-shadow: 0px 0px 30px pink;
    color: white;
    font-size: large;
     animation: para 1s linear 1;
}

.login:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.login:active {
    opacity: 0.7;
}

i {
    color: rgb(198, 194, 194);
    position: relative;
    right: 30px;
    top: 2px;
}
.google {
    display: flex;
    margin: 20px auto;
    width: 60%;
    border: none;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px pink;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
     animation: para 1s linear 1;
}

.google img {
    width: 40px;
    height: 40px;
    margin-right: 50px;
    margin-left: 8px;
}

.google p {
    font-size: large;
    margin-top: 10px;
}

.google:hover {
    transition: 0.3s;
    transform: scale(1.1);
}
@media screen and (max-width:575px) {
       header {
        padding:20px 0px;
     }
     nav ul{
        gap: 50px;
        font-size: 14px;
    }
    header .search input{
        width: 100px;
        height: 40px;
    }
    header .search button{
         width: 30px;
        height: 40px;
    }
    header .search{
        width: 150px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
      header {
        padding:20px 2px;
     }
     nav ul{
        gap: 60px;
        font-size: 15px;
    }
    header .search{
        width: 200px;
    }
    header .search input{
        width: 150px;
        height: 40px;
    }
    header .search button{
         width: 30px;
        height: 40px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
       header {
        gap: 20px;
    }
    nav ul{
        gap: 100px;
        font-size: 17px;
    }
    header .search{
        width: 300px;
    }
    header .search input{
        width: 220px;
        height: 40px;
    }
    header .search button{
         width: 30px;
        height: 40px;
    }
}