@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 50px 14px 10px;
    background-color: white;
    font-family: "Roboto", sans-serif;
    position: fixed;
    top: 0px;
    z-index: 2; 
    border-bottom:1px solid rgb(188, 183, 183);

}
header .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
header .search{
    display: flex;
    justify-content: center;
    width: 800px;
}
header .search input{
    height: 45px;
    width:600px;
    padding-left: 10px;
    border:1px solid gray;
    border-bottom-left-radius: 10px;
}
header .search button{
    width: 44px;
    height: 45px;
    background-color: rgb(58, 58, 223);
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 3px;
}
header .logo img{
    width: 50px;
    height: 50px;
     animation: nav 1s linear 1;
}
header .logo h2{
     color: rgb(225, 28, 130);
     letter-spacing: 1px;
     animation: nav 1.3s linear 1;
}
@keyframes nav {
    from {
        transform: translateY(-100px);
    }
}
nav ul{
    display: flex; 
    gap: 90px;
    list-style-type: none;
    font-size: 18px;
}
header a{
    text-decoration: none;
    color: black;
}
header .active{
    color: rgb(255, 0, 221);
}
header nav a:hover{
    transition: 0.5s;
    color: rgb(255, 0, 221);
}
header .login{
    padding: 9px 25px;
    background-color: rgb(225, 28, 130);
    border-radius: 15px;
    color: white;
}
header .login:hover{
    color: white;
    background-color: rgb(171, 15, 116);
}
.container{
    margin-top:86px ;
}
.banner {
    width: 100%;
    height: 400px;
    background: url("Collection1/3banner.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.return {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: 10px solid pink;
    border: 1px solid rgb(175, 66, 84);
    gap: 150px;
}

.easy {
    width: 35px;
}

.return h4 {
    color: rgb(72, 65, 65);
    font-size: 14px;
}

.days,
.wallet,
.discount {
    display: flex;
    align-items: center;
}

.wallet img {
    width: 30px;
}

.discount img {
    width: 25px;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    animation: con 2s ease-in forwards;
}

@keyframes con {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container1 button {
    width: 100px;
    height: 30px;
    background-color: rgb(35, 35, 225);
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 5px 5px 20px gray;


}

.container1 button:hover {
    /* opacity: 0.8; */
    transition: 0.3s;
    transform: scale(1.1);
}

.container1 button:active {
    opacity: 0.8;
}

.box img {
    width: 150px;
    height: 170px;
    border-radius: 7px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px gray;
}

.off {
    background: url("Design1/banner2.jpeg");
    margin-top: 20px;
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ogbrand {
    display: flex;
    padding: 10px 10px;
}

.ogbrand h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 12px;
}

.ogbrand img {
    width: 40px;
    margin: 10px 5px;
}

.brand {
    display: flex;
    gap: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow-Y: hidden;
    overflow-x: auto;
}
.brand::-webkit-scrollbar{
    height: 0;
}

.brands {
    width: 100%;
    height: 300px;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 80px;
    overflow: hidden;
    background-color: rgb(216, 197, 235);
    margin-top: 20px;
}

.brand img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 13px;
    box-shadow: 10px 10px 10px gray;

}

.brands img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    animation: brand 200s linear infinite;
}

@keyframes brand {
    100% {
        transform: translateX(-5000px);
    }
}

.banner2 img {
    width: 100%;
    height: 450px;
}

.center {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(97, 87, 87);
    padding: 20px 10px;
}

.center img {
    width: 40px;
}

.center h2 {
    margin-top: 5px;
}

.container3 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product {
    width: 350px;
    height: 420px;
    border-radius: 6px;
    border: none;
    padding-left: 8px;
    box-shadow: 5px 5px 10px gray;

}

.product img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin: 10px 45px;

}

.product p {
    color: rgb(61, 58, 58);
    margin-bottom: 8px;
}

.button1 {
    padding: 7px;
    background-color: gainsboro;
    border: none;
    border-radius: 15px;
    margin: 9px 0px;
}

.button2 {
    width: 50px;
    height: 25px;
    border: none;
    background-color: rgb(3, 124, 3);
    border-radius: 20px;
    color: white;
    margin-top: 5px;
    display: inline-block;
}

.product span {
    color: gray;
    font-size: 14px;
}

footer {
    width: 100%;
    height: 500px;
    background-color: rgb(2, 34, 2);
    padding: 50px;
    margin-top: 100px;
    
}

.f1 {
    height: 70px;
    width: 900px;
    border: 2px solid rgb(5, 63, 5);
    display: flex;
    padding: 6px;
    align-items: center;
    color: white;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    

}
.f1 a{
    text-decoration: none;
    color: white;
}
.f1 img {
    width: 50px;
    height: 50px;
}

.f1 p {
    margin-left: 309px;
    font-size: 17px;
}

.f1 input {
    height: 40px;
    background-color: rgb(12, 57, 12);
    border: none;
    border-radius: 6px;
    margin-left: 10px;
}

.f1 input::placeholder {
    color: white;
}

.f1 button {
    border: none;
    padding: 10px;
    background-color: rgb(5, 201, 5);
    color: wheat;
    margin-left: 10px;
    border-radius: 3px;
}

footer h4 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
}

.f2 {
    width: 200px;
    color: white;

}

.f2 p {
    color: white;
    text-align: justify;
    padding: 2px;
    margin-top: 10px;
    line-height: 20px;
}

.box1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    color: white;
    /* gap: 80px;  */
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid green;
    border-right: 1px solid green;

}

.f3 a {
    display: block;
    text-decoration: none;
    color: white;
}

.f3 h2 {
    margin-bottom: 10px;

}

.f4 h2 {
    margin: 0px 10px 20px;
}

.f4 i {
    color: green;
}

.f4 p {
    font-size: 12px;
    padding: 10px;
}

.f4 button {
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.last {
    color: white;
    text-align: center;
    margin-top: 40px;
}
@media screen and (max-width:575px) {
    header {
        padding:20px 0px;
     }
     nav ul{
        gap: 10px;
        font-size: 14px;
    }
    header .search input{
        width: 100px;
        height: 40px;
    }
    header .search button{
         width: 30px;
        height: 40px;
    }
    header .search{
        width: 150px;
    }
     .banner {
        height: 200px;
        background-size: 100%;
        margin-right: 10px;
     }
    .return {
        gap: 10px;
    }

    .off {
        height: 350px;
        background-size: 100%;

    }

    .banner2 img {
        height: 250px;
    }

    .container3 {
        grid-template-columns: repeat(2, 1fr);
        gap: 23px;
    }

    .product {
        width: 240px;
        height: 320px;
    }

    .product img {
        width: 120px;
        height: 120px;
    }

    footer {
        padding: 10px;
    }

    .f1 {
        width: 470px;
        margin: 10px;
    }

    .f1 p {
        margin-left: 20px;
    }

    .f1 input {
        width: 100px;
    }

    .f2 {
        width: 100px;
    }

    .box1 {
        overflow: hidden;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
      header {
        padding:20px 2px;
     }
     nav ul{
        gap: 20px;
        font-size: 15px;
    }
    header .search{
        width: 200px;
    }
    header .search input{
        width: 150px;
        height: 40px;
    }
    header .search button{
         width: 30px;
        height: 40px;
    }

    .banner {
        height: 300px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .off {
        height: 400px;
    }

    .banner2 img {
        height: 350px;
    }

    .container3 {
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
    }

    .product img {
        width: 170px;
        height: 170px;
        margin: 5px 35px;
    }

    .product {
        width: 290px;
        height: 380px;
    }

    .buy {
        margin: 10px 0px 0px 1px;
    }

    .buy .buy1 {
        width: 100px;
        margin-right: 10px;
    }

    .buy .buy2 {
        width: 100px;
    }

    footer {
        padding: 10px;
    }
    .f1{
        width: 500px;
        justify-content: start;
    }
    .f1 p {
        margin-left: 20px;
    }

    .f1 input {
        width: 100px;
    }

    .f2 {
        width: 100px;
    }

    .box1 {
        overflow: hidden;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
       header {
        gap: 20px;
    }
    nav ul{
        gap: 40px;
        font-size: 17px;
    }
    header .search{
        width: 300px;
    }
    header .search input{
        width: 220px;
        height: 40px;
    }
    header .search button{
         width: 30px;
        height: 40px;
    }
  
    .banner {
        height: 300px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .container3 {
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }

    .product img {
        width: 170px;
        height: 170px;
        margin: 5px 20px;
    }

    .product {
        width: 230px;
        height: 380px;
    }

    .buy {
        margin: 10px 0px 0px 1px;
    }

    .buy .buy1 {
        width: 100px;
        margin-right: 10px;
    }

    .buy .buy2 {
        width: 100px;
    }

    footer {
        padding: 10px;
    }
    .f1{
        width: 700px;
        justify-content: start;
    }
    .f1 p {
        margin-left: 190px;
    }

    .f1 input {
        width: 100px;
    }

    .f2 {
        width: 100px;
    }

    .box1 {
        overflow: hidden;
    }
}

@media screen and (min-width:992px) and (max-width:1250px) {
       header {
        gap: 20px;
    }
    nav ul{
        gap: 40px;
        font-size: 17px;
    }
    header .search{
        width: 400px;
    }
    header .search input{
        width: 390px;
        height: 40px;
    }
    header .search button{
         width: 40px;
        height: 40px;
    }
  
    .banner {
        height: 300px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .f1 p {
        margin-left: 190px;
    }
    .container3 {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5px;
    }
}