* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: fixed;
    background-color: white;
    background-image: url("Watch/nav1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    z-index: 2;
}

.top a {
    display: flex;
    text-decoration: none;
    color: white;
}

.top_right i {
    color: white;
}

.top_right {
    display: flex;
    gap: 50px;
    font-size: 30px;
    color: white;
}

.head {
    height: 120px;
    padding-top: 80px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.heart:hover {
    transition: 1s;
    color: red;
}

.head h2 {
    background: url("tshirt/sp3.jpg");
    background-clip: text;
    color: transparent;
    background-position: bottom left;
    animation: head 2s ease-in forwards;
}

@keyframes head {
    from {
        opacity: 0;
        transform: translateX(-160px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url(Watch/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.special {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special h2 {
    /* background: url("tshirt/sp3.jpg");
    background-clip: text;
    color: transparent;
    background-position: center right;  */
    font-size: 30px;
    animation: offer 5s ease forwards 1;
}

@keyframes offer {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.discount {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 70px;
    gap: 100px;
    animation: off 300s linear infinite;
}

@keyframes off {
    100% {
        transform: translateX(-5000px);
    }
}

.discount img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product {
    width: 330px;
    height: 420px;
    border-radius: 6px;
    border: none;
    padding-left: 8px;
    box-shadow: 5px 5px 10px gray;
}

.product img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 10px 45px;

}

.product button a {
    color: white;
    text-decoration: none;
}

.product p {
    color: rgb(61, 58, 58);
    margin-bottom: 8px;
}

.button1 {
    padding: 7px;
    background-color: gainsboro;
    border: none;
    border-radius: 15px;
    margin: 9px 0px;
}

.button2 {
    width: 50px;
    height: 25px;
    border: none;
    background-color: rgb(3, 124, 3);
    border-radius: 20px;
    color: white;
    margin-top: 5px;
    display: inline-block;
}

.product span {
    color: gray;
    font-size: 14px;
}

.buy {
    margin: 19px 0px 0px 10px;
}

.buy .buy1 {
    width: 120px;
    height: 30px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    border: none;
    margin-right: 20px;
}

.buy .buy1:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: 0.4s;
}

.buy .buy1:active {
    opacity: 0.5;
}

.buy .buy2 {
    width: 120px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
}

.buy .buy2:active {
    opacity: 0.5;
}

footer {
    width: 100%;
    height: 500px;
    background-color: rgb(2, 34, 2);
    padding: 50px;
    margin-top: 100px;
}

.f1 {
    height: 70px;
    width: 900px;
    border: 2px solid rgb(5, 63, 5);
    display: flex;
    padding: 6px;
    align-items: center;
    color: white;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;

}

.f1 button a {
    color: white;
    text-decoration: none;
}

.f1 img {
    width: 50px;
    height: 50px;
}

.f1 p {
    margin-left: 309px;
    font-size: 17px;
}

.f1 input {
    height: 40px;
    background-color: rgb(12, 57, 12);
    border: none;
    border-radius: 6px;
    margin-left: 10px;
}

.f1 input::placeholder {
    color: white;
}

.f1 button {
    border: none;
    padding: 10px;
    background-color: rgb(5, 201, 5);
    color: wheat;
    margin-left: 10px;
    border-radius: 3px;
}

footer h4 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
}

.f2 {
    width: 200px;
    color: white;

}

.f2 p {
    color: white;
    text-align: justify;
    padding: 2px;
    margin-top: 10px;
    line-height: 20px;
}

.box1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid green;
    border-right: 1px solid green;

}

.f3 a {
    display: block;
    text-decoration: none;
    color: white;
}

.f3 h2 {
    margin-bottom: 10px;

}

.f4 h2 {
    margin: 0px 10px 20px;
}

.f4 i {
    color: green;
}

.f4 p {
    font-size: 12px;
    padding: 10px;
}

.f4 button {
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.last {
    color: white;
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width:575px) {
    .banner {
        height: 300px;
    }

    .special h2 {
        font-size: 16px;
    }

    .container {
        gap: 5px;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .product img {
        width: 150px;
        height: 150px;
        margin: 5px 20px;
    }

    .product {
        width: 230px;
        height: 370px;
    }

    .buy {
        margin: 10px 0px 0px 1px;
    }

    .buy .buy1 {
        width: 100px;
        margin-right: 10px;
    }

    .buy .buy2 {
        width: 100px;
    }

    footer {
        padding: 10px;
    }

    .f1 p {
        margin-left: 20px;
    }

    .f1 input {
        width: 100px;
    }

    .f2 {
        width: 100px;
    }

    .box1 {
        overflow: hidden;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .banner {
        height: 350px;
    }

    .special h2 {
        font-size: 22px;
    }

    .container {
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
    }

    .product img {
        width: 170px;
        height: 170px;
        margin: 5px 35px;
    }

    .product {
        width: 290px;
        height: 380px;
    }

    .buy {
        margin: 10px 0px 0px 1px;
    }

    .buy .buy1 {
        width: 100px;
        margin-right: 10px;
    }

    .buy .buy2 {
        width: 100px;
    }

    footer {
        padding: 10px;
    }

    .f1 p {
        margin-left: 90px;
    }

    .f1 input {
        width: 100px;
    }

    .f2 {
        width: 100px;
    }

    .box1 {
        overflow: hidden;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .banner {
        height: 350px;
    }

    .special h2 {
        font-size: 22px;
    }

    .container {
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }

    .product img {
        width: 170px;
        height: 170px;
        margin: 5px 20px;
    }

    .product {
        width: 230px;
        height: 380px;
    }

    .buy {
        margin: 10px 0px 0px 1px;
    }

    .buy .buy1 {
        width: 100px;
        margin-right: 10px;
    }

    .buy .buy2 {
        width: 100px;
    }

    footer {
        padding: 10px;
    }

    .f1 p {
        margin-left: 250px;
    }

    .f1 input {
        width: 100px;
    }

    .f2 {
        width: 100px;
    }

    .box1 {
        overflow: hidden;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5px;
    }
}